<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bj.modules.bj_image">

    <application>
        <activity android:name="bj.majules.objectsAndClasses.BJClasses.BJImage.Objcets.imagesEdit"></activity>
    </application>

</manifest>